/* ----------------------------------------------------------------------------
 * tag
 * ------------------------------------------------------------------------- */
.m-tag {
  display: inline-block;
  font-size: 10px;
  line-height: 1.6;
  height: 16px;
  border: 1px solid #686f71;
  border-radius: 8px;
  color: #686f71;
  background-color: #ffffff;
  text-align: center;
  letter-spacing: 1.8px;
  padding: 0 8px 0 8px;
  margin-left: 8px;
  margin-bottom: 4px;
}
